{{ define "main" }}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</head>
<div class="container">
  <div class="row">
    
    <div class="content">
      <div class="hero">
      
        <h1>Building Intelligent Software</h1>
      </div>
      <h2>Hi I'm Damilola,</h2>
      <br />

      <p>
          Studying Computer Engineering at the University of Lagos.

      </p>
      <br />

      <p>
        Books I'm currently reading:
        - The Map of Information

      </p>
      <br />

      <p>
        Research
        - [Semi-Supervised Learning with Transformers for Sentiment Analysis of Yoruba Sentences]()

        - [Training Nigeria's First Foundational Decoder-only Language Model]()

      </p>
      <br />
      <div class="social-link">
        <a
          href="http://github.com/damilojohn"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fa fa-github" aria-hidden="true"></i
        ></a>
        <a
          href="http://twitter.com/damilojohn"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fa fa-twitter" aria-hidden="true"></i
        ></a>
        <a
          href="http://oduguwadamilola40@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fa fa-envelope-o" aria-hidden="true"></i
        ></a>
      </div>
    </div>
  </div>
</div>
{{ end }}
